*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: orange;
}

main{
	width: 70%;
	padding: 50px;
	margin: auto;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 0 0 10px 1px gray;
}

.photo{
	width: calc(50% - 40px);
	height: calc((35vw - 40px) / 16 * 9);
	margin: 10px;
	background-color: red;
	border: 5px solid blue;
	background-position: center;
	background-size: cover;
	border-radius: 30px;
	transition: all 1s ease;
}
.gal{
	transition: all 1s ease;
}
.gal:hover{
	transform: rotate(3600deg) scale(2);
}

.photo:hover{
	transform: rotate(3600deg) scale(2);
}

h1{
	width: 100%;
	text-align: center;
	font-size: 48px;
}

.photo1{
	background-image: url(../img/1img.jpg);
}

.photo2{
	background-image: url(../img/2img.jpg);
}

.photo3{
	background-image: url(../img/3img.jpg);
}

.photo4{
	background-image: url(../img/4img.jpg);
}